[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl"}
numpy = "*"
tensorflow = "*"
tensorboardx = "*"
tqdm = "*"
"torchzoo-0.2" = {ref = "09d947a9886a3154ea4bdd29a02624ab4dbd77e2", git = "https://github.com/theSage21/torchzoo.git"}

[dev-packages]

[requires]
python_version = "3.6"
