[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
torch = {file = "http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl"}
tensorflow = "*"
tensorboardx = "*"
"torchzoo-0.2" = {editable = true, ref = "a77c7277cc95b42c2a9339dceb35264f9e0c1f67", git = "https://github.com/thesage21/torchzoo.git"}
requests = "*"
pandas = "*"
"2f978a9" = {file = "https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz"}

[dev-packages]

[requires]
python_version = "3.6"
